{% load widget_tweaks %}

{% if field.is_hidden %}
  {{ field }}

{% elif field|field_type == 'booleanfield' %}
<div class="checkbox-inline custom-control custom-checkbox">
  <label>
	{{ field }}
    <span class="custom-control-indicator"></span>
    {% if field.label %}
    <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
    {{ field.label|safe }}
    </label>
  {% endif %}
  {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}

  </label>
</div>

{% else %}

<fieldset id="div_{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
  <div class="">
  {% if field.label %}
    <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
    {{ field.label|safe }}
    </label>
  {% endif %}
  {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
  </div>
    {{ field|add_class:"form-control" }} 
    {% if field.errors %}
      {% for error in field.errors %}
        <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></div>
      {% endfor %}
    {% endif %}
    {% if field.help_text %}
      <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
    {% endif %}
</fieldset>
{% endif %}
